/go/out.log*
/go/access.log*
/.idea
/project/python/embedding_service/.venv/
/project/python/telegram_reader/.venv/
/backup/
/project/go/project/datacollector/
/project/go/project/
*.log
/argocd-service-account-key.json
/argocd_ssh_key
/argocd_ssh_key.pub
/google_compute_engine
/google_compute_engine.pub
/project/python/telegram_reader/test_grpc.py
/project/python/telegram_reader/test_grpc_stop.py
/project/go/readercontroller/reader_controller_server_test.go