[Unit]
Description=Port-Forward Service for %i
After=minikube.service
Requires=minikube.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/bin/bash -c "\
  echo 'Instance Name: %I' && \
  IFS='/' read -r NAMESPACE SVCNAME HOSTPORT CONTAINERPORT <<< '%I' && \
  echo \"Starting port-forward: namespace=$NAMESPACE, svc=$SVCNAME, hostPort=$HOSTPORT, containerPort=$CONTAINERPORT\" && \
  exec /usr/local/bin/minikube kubectl -- port-forward --address 0.0.0.0 \"svc/$SVCNAME\" -n \"$NAMESPACE\" \"$HOSTPORT:$CONTAINERPORT\" \
"
Restart=always
RestartSec=5s
User=jackyli
Group=jackyli
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target